/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Định dạng chung */
body {
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #0275d8;
}

#user-info,
#quizForm,
#result-container {
  background: white;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0275d8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #025aa5;
}

.question {
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
}

label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: #fff;
}

label input {
  display: none;
}

label:has(input:checked) {
  background-color: #0275d8;
  color: white;
  border-color: #025aa5;
}

label:hover {
  background-color: #f0f8ff;
  border-color: #0275d8;
}

.hidden {
  display: none;
}

#submitBtn {
  font-size: 16px;
  font-weight: normal;
  color: white;
  margin: 25px 0 15px;
}

#pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#pagination-controls button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #007bff;
  color: white;
  font-size: 14px;
}

#pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.question p {
margin-bottom: 10px;
}